
html, 
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
    margin: 0;
}

img {
    
}

#pollo {

  max-width: 100%;
  height: auto;
  animation-duration: 10s;
  width: 10vw;
  height: 10vh;
  animation-timing-function: linear;
  animation-name: slide;
    animation-iteration-count: 50;
    animation-direction: alternate;
    position: absolute;
    z-index: 1;


}

@keyframes slide {
  from {
//    margin-left: 100%;
    color: white;
     left: 0%;
     top: 0%;     
  }
  20% {
  left: 96%;
  top: 0%;
  
  margin-right: 0%;
 } 
  40% {
  bottom: 0%;
  left: 50%;
  
 } 

  60%{
   margin-left: 0%;
   color: black;
  top: 90%;
  left: 0%;
}
  80%{
   margin-left: 0%;
    color: black;
  top: 90%;
  left: 100%;


  }
    to {
   top: 0%;
  left: 0%;
  
  }

  
}


#palkit {
  
  background: linear-gradient(to right, rgba(255,0,0,0), cyan, rgba(255,0,0,0));
  animation-delay: 0;
  animation-duration: 8s;
  animation-name: slidein;
  animation-iteration-count: 50;
  animation-timing-function: ease-in-out;
  height: 100%;
  position: absolute;
  width: 20%;
  left: -300px;


  
}
@keyframes slidein {
  	0%   {margin-left: -120%}
  	30%   {margin-left: 50%}
    60%  {margin-left: 180%}
    
}


#myBunny {
 
    position:absolute;
    z-index: 1;
    width: 30%;
    height: 90%;
    animation-duration: 10s;
    animation-name: canV;
    animation-iteration-count:infinite;
}

@keyframes canV {
    0%   {left: 0%}
    50%  {left: calc(100% / 4.18);}
    100% {left: 0%}
}

#myBunnyo {

    position:absolute;
    z-index: 1;
    width: 30%;
    height: 90%;
    animation-duration: 10s;
    animation-name: canO;
    animation-iteration-count:infinite;
}

@keyframes canO {
    0%   {right: 0%}
    50%  {right: calc(100% / 4.18);}
    100% {right: 0%}
}


otsikko {
  animation-duration: 10s;
  animation-name: slide;
    animation-iteration-count: 5;
    animation-direction: alternate;
    position: absolute;
}



  
}